nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-family: "Bungee";
}

.write {
  float: right;
  margin-top: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-text {
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
}

.fa-angle-double-down:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.down-button {
  border: none;
  background: none;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
  color: red;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
