button {
  background-color: cornflowerblue;
  color: black;
  padding: 5px;
  margin: 5px;
  font-family: "Bungee";
}

textarea {
  border: none;
  outline: none;
  padding: 0.5em;
  background-color: transparent;
}
.text-input {
  display: flex;
  flex-direction: column;
  border-bottom: solid black;
  justify-content: space-between;
  padding-top: 1em;
}

.tweet-submit {
  display: flex;
  justify-content: space-between;
}
